/* src/components/layout/Layout.css */
.layout {
    display: flex;
    height: 100vh;
    background-color: #f5f6fa;
  }
  
  .layout__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0; /* Для правильной работы flexbox */
  }
  
  .layout__content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f5f6fa;
  }