/* src/index.css */

/* 1. Сброс стандартных отступов браузера */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Poppins', sans-serif !important;
}
/* 2. Глобальные настройки */
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* 3. Настройка body */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f2f5;
  color: #2c3e50;
  
  /* ВАЖНО: Убираем display: flex и place-items: center из старого кода! */
  display: block; 
  
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 4. Принуждаем кнопки и инпуты использовать Poppins */
button, input, select, textarea {
  font-family: 'Poppins', sans-serif;
}

/* 5. Ссылки */
a {
  text-decoration: none;
  color: inherit;
}